/** Clases generales **/
.texto_centrado{
    text-align:center;
}

.boton_general{
    padding: 15px 40px;
    color: white;
    background-color: rgb(160, 125, 60)
}

/** Header **/
header{
    background-color: #fbf4f4;
}

hr{
    text-align: center;
    width:300px;
    border-top: 2px solid rgb(243, 134, 70);
    border-bottom: 2px solid rgb(243, 134, 70);
}

#capa_logo{
    display:inline;
}

#imagen_logo{
    width: 180px;
    padding: 10px 150px;
}

#navbar{
    display:inline;
    position: relative;
    bottom: 50px;
    left:300px;
}

/** Sección presentación **/
#seccion_presentacion{
    background-image: url("img/background.jpeg");
    background-position:center; 
    background-repeat:no-repeat; 
    background-size: 100%;
    height: 650px;
    background-color: rgba(0,0,0,0.8);
    filter:brightness(0.4);
}

#capa_texto_presentacion{
    position:relative;
    bottom:670px;
}

#texto_descubre{
    margin-top:0px;
    text-align:center;
    color:white;
    font-size:2em;
    padding-top:250px;
    line-height: 0px;
    font-style: italic;
    color: orange;
}

#texto_mozza_bar{
    text-align: center;
    color:white;
    font-size:3em;
}

#texto_we_are_open{
    text-align: center;
    color:white;    
}

.link_nav{
    padding-left: 30px;
}

.link_nav a{
    text-decoration: none;
    color:black;
}

.link_nav a:hover, .link_nav a:active{
    text-decoration: underline rgb(248, 168, 20);
}

/** Sección concepto **/
#seccion_concepto{
    background-image: url("img/hojas.jpg");
    background-position:center; 
    background-repeat:no-repeat; 
    background-size: 100%;
    height: 650px;
    margin-top: -465px;
}

#capa_texto_concepto{
    width:400px;
    padding:30px;
    position:relative;
    left:540px;
    top:-100px;
    background-color:rgb(41, 41, 40);
    border:1px solid yellow;
    color:white;
    z-index: 1;
}

#lechuga{
    position:relative;
    left:430px;
    top:60px;
    width:200px;
    height:250px;
    z-index: 2;
}

#salsa{
    position:relative;
    left:720px;
    top:20px;
    width: 200px;
    height: 180px;
    z-index: 2;
}

/** Sección imágenes **/
#seccion_imagenes{
    background-image: url("img/background_images.jpg");
    background-position:center; 
    background-repeat:no-repeat; 
    background-size: 100%;
    height: 900px;
}

#capa_imagenes{
    text-align:center;
    padding-top: 60px;
}

#capa_imagenes img{
    width: 400px; 
    height: 350px;
    padding: 15px;
}

/** Sección menú **/
#seccion_menu{
    padding:15px 50px;
    height: 1430px;
}

#seccion_menu img{
    margin-top: 50px;
    margin-bottom: 30px;
}

.link_menu{
    padding-left: 30px;
}

.link_menu a{
    text-decoration: none;
    color:black;
}

.link_menu a:hover, .link_menu a:active{
    text-decoration: underline rgb(248, 168, 20);
}

/** Seccion reserva **/
#seccion_reservas{
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.6)
      ),url("img/background_form.jpg");
    background-position:center; 
    background-repeat:no-repeat; 
    background-size: 100%;
    height: 650px;
    margin-top: -465px;
}

#seccion_reservas h1{
    color:white;
    padding-top: 80px;
    position: relative;
}

#capa_formulario{
    color:white;
    margin-top:80px;
    margin-left: 250px;
    width: 400px;
}

#capa_texto_form{
    color:white;
    position: relative;
    top:-380px;
    left:800px;
}

#label_horas{
    margin-left:120px;
}

#personas{
    width: 170px;
}

#horas{
    margin-left:5px;
    width: 170px;
}

.boton_form{
    width:100%;
    margin-top:10px; 
}

/** Seccion blog **/
#seccion_blog{
    padding-left:200px;
}

#seccion_blog div{
    text-align:center;
}

#seccion_blog article{
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.6)
      ),url("img/background.jpeg");
    background-position:center; 
    background-repeat:no-repeat; 
    background-size: 100% 100%;
    margin-left: 50px;
    width: 20%;
    height: 400px;
    padding: 5px 20px;
    display:inline-block;
    color:white;
}

/** Footer **/
footer{
    margin-top: 30px;
    background-color: grey;
}
footer article{
    margin-left: 50px;
    width: 20%;
    height: 200px;
    padding: 5px 20px;
    display:inline-block;
}